.app-header {
  display: none;
  justify-content: flex-start;
}

body.not-home .app-header {
  display: flex;
}

.app-header .header-copy {
  display: none;
}

.screen-wrap {
  top: 0;
}

body.not-home .screen-wrap {
  top: 60px;
}
